.services-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    text-align: center;    
    grid-gap: 40px;  
    
}

@media (max-width: 576px) { 
    .services-container{
        grid-template-columns: repeat(1, 1fr);
    }
 }

 @media (min-width: 577px) and (max-width: 991.98px) {
    .services-container{
        grid-template-columns: repeat(2, 1fr);
    }
 }

